{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
        {% if user.is_authenticated %}
        <h1>hello {{ user.username }}</h1><br />
        <a href="{% url 'add_category' %}">Add a New category</a><br />
        {% else %}
        <h1>Rango says...</h1>
        {% endif %}
        {% if categorys %}
            <ul>
                {% for category in categorys %}
                <li>
                    <a href="{% url 'category' category.slug %}"> {{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>there are no categories present.</strong>
        {% endif %}
{% endblock %}
